/* src/Signup.css */
.input-container input {
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .button-container input {
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    padding: 10px 20px;
    transition: background 0.3s;
  }
  
  .button-container input:hover {
    background: #6cf0c2;
  }
  
  .button-container input:disabled {
    background: #ccc;
    border: 1px solid #ccc;
    cursor: not-allowed;
  }
  
  .signup-form {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 300px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  